@media screen and (max-width: 800px) {
  #body{
    flex-direction: column;
  }#right{
    width: 100%;

  }#card2{
    width: 95%;
  }

}
@media screen and (min-width: 800px) {
  #card2,#right{
    width: 50%;

  }
}
#card1{
  background-color: #faedcd6e;

  margin-left:15px;
  margin-right:15px;


}
#body{
  display: flex;
}

#card2, #card3, #card5{
  background-color: #ccd5ae93;
  opacity: 90%;


  margin: 15px;
  padding: 15px;
}


mat-label{
  margin-right: 10px;

}
#location mat-form-field{
  width: 30%;
  margin: 5px;
}
#date, #service, #location{
  margin-bottom: 20px;
}
#number{
  display: flex;

}
.number{
  width: 25%;

}
#submit{
  display: flex;
}
.spacer1 {
  flex: 1 1 auto;
}







.spacer {
  flex: 1 1 auto;
}
