<mat-card id="card1">

	<div>
		<mat-card id="card2">

			<div id="date">
				<mat-label>Date:</mat-label>
				<mat-form-field>
					<mat-label>Enter a date range</mat-label>
					<mat-date-range-input [rangePicker]="picker">
						<input class="form-control" matStartDate placeholder="Start date"
							[(ngModel)]="announcement.startDate">
						<input matEndDate placeholder="End date" [(ngModel)]="announcement.stopDate">
					</mat-date-range-input>
					<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-date-range-picker #picker></mat-date-range-picker>
				</mat-form-field>
			</div>

			<div id="service">
				<mat-label>Services needed:</mat-label>
				<span class="example-list-section">

					<mat-form-field color="accent">
						<mat-label>Housing type</mat-label>
						<mat-select [(value)]="announcement.housingType">
							<mat-option *ngFor="let entry of HousingType | keyvalue" [value]="entry.value">{{
								entry.key }}</mat-option>
						</mat-select>
					</mat-form-field>


					<mat-form-field color="accent">
						<mat-label>Sitting type</mat-label>
						<mat-select [(value)]="announcement.activities" [multiple]="true">
							<mat-option *ngFor="let entry of HouseActivity | keyvalue"
								[value]="entry.value"><mat-icon>{{ icons[entry.value] }}</mat-icon> {{
								entry.key }}</mat-option>
						</mat-select>
					</mat-form-field>


					<mat-form-field color="accent">
						<mat-label>Refused Animal</mat-label>
						<mat-select [(value)]="announcement.refusedAnimals" [multiple]="true">
							<mat-option *ngFor="let entry of Animal | keyvalue" [value]="entry.value">{{
								entry.key }}</mat-option>
						</mat-select>
					</mat-form-field>

				</span>


			</div>

			<mat-label>location:</mat-label>
			<div id="location">

				<mat-form-field class="input-filtre">
					<mat-label>Location :</mat-label>
					<input matInput type="text" id="city" name="city" [(ngModel)]="announcement.address"
						(ngModelChange)="calculationOfCoordinates($event)" required [matAutocomplete]="auto">
					<mat-autocomplete #auto="matAutocomplete">
						<mat-option *ngFor="let option of locationResponse"
							[value]="option.housenumber + ' ' + option.street + ' ' + option.city">
							{{ option.housenumber }} {{ option.street }} {{ option.city }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>

			<mat-label>Number of:</mat-label>
			<div id="number">
				<div class="number">
					<mat-label>rooms</mat-label>

					<mat-slider class="rooms_slider" [max]="20" [min]="1" [step]="1" discrete
						[displayWith]="formatLabel">
						<input matSliderThumb [(value)]="announcement.numberOfRooms">
					</mat-slider>

				</div>
				<div class="number">
					<mat-label>Beds</mat-label>

					<mat-slider class="rooms_slider" [max]="40" [min]="1" [step]="1" discrete
						[displayWith]="formatLabel">
						<input matSliderThumb [(value)]="announcement.numberOfBeds">
					</mat-slider>

				</div>
				<div class="number">
					<mat-label>guests</mat-label>

					<mat-slider class="example-margin" [max]="20" [min]="1" [step]="1" discrete
						[displayWith]="formatLabel">
						<input value="10" matSliderThumb [(value)]="announcement.numberPeopleMax">
					</mat-slider>

				</div>
				<div class="number">

					<mat-label>square feet</mat-label>
					<mat-slider class="example-margin" min="10" max="400" step="10" discrete
						[displayWith]="formatLabel">
						<input matSliderThumb [(value)]="announcement.squareMeters">
					</mat-slider>

				</div>

			</div>

			<mat-form-field class="example-full-width">
				<mat-label>Description:</mat-label>
				<textarea matInput [(ngModel)]="announcement.description"></textarea>
			</mat-form-field>


		</mat-card>
		<div id="right">
			<mat-card id="card3">
				<span class="example-list-section">

					<mat-label>With children</mat-label>
					<mat-checkbox [(ngModel)]="announcement.allowedChildren"></mat-checkbox>

					<mat-label>With Pets</mat-label>
					<mat-checkbox [(ngModel)]="announcement.allowedPets"></mat-checkbox>

					<mat-label>Smoking allowed</mat-label>
					<mat-checkbox [(ngModel)]="announcement.allowedSmoking"></mat-checkbox>

					<mat-label>Wifi</mat-label>
					<mat-checkbox [(ngModel)]="announcement.wifi"></mat-checkbox>
				</span>

			</mat-card>

			<button mat-button (click)="onSubmit()">
				Create announcement
				<mat-icon matSuffix>send</mat-icon>
			</button>
		</div>
	</div>



</mat-card>