<mat-card id="card1" >

  <div >
  <form [formGroup]="requestForm" (submit)="onSubmit()" id="body">
    <mat-card id="card2"  >

      <div id="date">
        <mat-label>Date:</mat-label>
        <mat-form-field >
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input class="form-control" matStartDate placeholder="Start date" [formControlName]="'startDate'">
            <input matEndDate placeholder="End date" [formControlName]="'stopDate'">
          </mat-date-range-input>

          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>


      <div id="service">
        <mat-label>Services needed:</mat-label>
        <mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple>
          <mat-button-toggle value="flour">
            <mat-icon>pets</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="eggs">
            <mat-icon>local_florist</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="sugar">
            <mat-icon>cleaning_services</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <mat-label>location:</mat-label>
      <div id="location">

        <mat-form-field>
          <mat-label>Adress</mat-label>
          <input matInput [formControlName]="'address'">
        </mat-form-field>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput [formControlName]="'city'">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Postal Code</mat-label>
          <input matInput [formControlName]="'postalCode'">
        </mat-form-field>
      </div>

      <mat-label>Number of:</mat-label>
      <div id="number">
      <div class="number">
        <mat-label>rooms</mat-label>

        <mat-slider class="rooms_slider"

        [max]="20"
        [min]="1"
        [step]="1"
        discrete [displayWith]="formatLabel">
          <input matSliderThumb [formControlName]="'numberOfRooms'">
        </mat-slider>

      </div>
      <div class="number">
        <mat-label>Beds</mat-label>

        <mat-slider class="rooms_slider"

        [max]="40"
        [min]="1"
        [step]="1"
        discrete [displayWith]="formatLabel">
          <input matSliderThumb [formControlName]="'numberOfBeds'">
        </mat-slider>

      </div>
      <div class="number">
        <mat-label>guests</mat-label>

        <mat-slider class="example-margin"

        [max]="20"
        [min]="1"
        [step]="1"
        discrete [displayWith]="formatLabel">

          <input value="1" matSliderStartThumb>
          <input value="10" matSliderEndThumb  [formControlName]="'numberOfMaxPeople'">
        </mat-slider>

      </div>
      <div class="number">
        <mat-label>square feet</mat-label>

        <mat-slider class="example-margin"

        min="10" max="400" step="10"  discrete [displayWith]="formatLabel">
          <input matSliderThumb [formControlName]="'squareMeters'" >

        </mat-slider>

      </div>
    </div>

    </mat-card>
    <div id="right">
      <mat-card id="card3">
        <span class="example-list-section">
          <ul>
            <li *ngFor="let tag of Tags">
              <mat-checkbox color="primary">
                {{tag.name}}
              </mat-checkbox>
            </li>
          </ul>
        </span>

      </mat-card>
      <mat-card id="card4">
        <mat-label>Description:</mat-label>
        <mat-form-field class="example-full-width">

          <textarea matInput [formControlName]="'description'"></textarea>
        </mat-form-field>
      </mat-card>
      <mat-card id="card5">
        <mat-label>Photo:</mat-label>
        <input matImput type="file" accept="image/*" name='files[]' multiple>
      </mat-card>
      <div id="submit">
        <span class="spacer1"></span>
        <button mat-icon-button  type="submit">
          <mat-icon>send</mat-icon>
        </button>

      </div>
    </div>

 </form>
  </div>



</mat-card>



