<main>
    <div id="head">
        <h1>Sit-up</h1>
        <mat-icon>pets</mat-icon>
        <mat-icon>local_florist</mat-icon>
        <mat-icon>home</mat-icon>
    </div>
    <div id="body">
        <h2>Inscription</h2>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" placeholder="alina.starkov@gmail.com" color="accent">
        </mat-form-field> <br>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name" placeholder="Alina" color="accent">
        </mat-form-field> <br>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Firstname</mat-label>
            <input matInput [(ngModel)]="firstname" placeholder="Starkov" color="accent">
        </mat-form-field> <br>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Enter your password</mat-label>
            <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'" placeholder="alinaStarkov"
                required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field> <br>
        <button mat-raised-button color="primary" (click)="connexionPage()">Connexion</button>
        <button mat-raised-button color="primary" (click)="register()">Submit</button>
    </div>
</main>