<body>
  <!--<mat-toolbar color="primary">
    logo-->

    <!--search bar--
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
    <span class="example-spacer"></span>
    <!--button--

    <button mat-icon-button color="accent" aria-label="Example icon button with a open in new tab icon">
      <mat-icon>message</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Example icon button with a open in new tab icon">
      <mat-icon>perm_identity</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Example icon button with a open in new tab icon">
      <mat-icon>settings</mat-icon>
    </button>

  </mat-toolbar>-->
  <mat-toolbar color="primary">

    <span>Sit-up</span>

    <mat-form-field class="search" appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
    <span class="spacer"></span>
    <button mat-icon-button color="accent" aria-label="Example icon button with a open in new tab icon">
      <mat-icon>message</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Example icon button with a open in new tab icon">
      <mat-icon>perm_identity</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Example icon button with a open in new tab icon">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>


</body>
