<div class="messages">
	<h1>Conversations</h1>
	<mat-accordion>

		<mat-expansion-panel #panel="matExpansionPanel" class="message" *ngFor="let message of latestMessages">
			<mat-expansion-panel-header>
				<mat-panel-title>
					{{ message.sender.name }}
				</mat-panel-title>
				<mat-panel-description>
					{{ message.message }} at {{ message.date | date: 'short' }}
				</mat-panel-description>
			</mat-expansion-panel-header>
			<app-conversation [otherPerson]="message.sender" *ngIf="panel.expanded">

			</app-conversation>
		</mat-expansion-panel>
	</mat-accordion>
</div>