.green-card {
  width: 98vw;
  height: 87vh;
  overflow: hidden;
  margin: auto;
  background-color: #faedcd;
}

mat-tab-group ::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
}
.profile-card {
  margin: 2%;
  height: 100%;
}

.mat-sort-header-container {
  align-items: center;
}

.card-icon {
  max-width: 10px;
}

.example-card {
  width: 15vw;
  height: 15vh;
  min-width: 160px;
  min-height: 160px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: auto;
}

.example-tab-icon {
  margin-right: 8px;
}

.left-wrapper {
  width: 100%;
}
.messages {
  background-color: white;
  width: 100%;
  margin-top: 25px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  width: 100%;
}

.done-btn {
	position: fixed;
    bottom: 25px;
    right: 25px;
}

.pref-wrapper {
	display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    margin-top: 25px;
}