.green-card {
    max-width: 98vw;
    max-height: 90vh;
    display: flex;
    margin: auto;
    position: static;
    background-color: #faedcd;
}

.mat-sort-header-container {
    align-items: center;
  }

.card-icon {
    max-width: 10px;
}

.example-card {
    max-width: 15vw;
    max-height: 35vh;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: auto;
  }

  .example-tab-icon {
    margin-right: 8px;
  }
  