<mat-card class="green-card">
	<mat-tab-group class="profile-card" color="accent">
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="example-tab-icon">perm_identity</mat-icon>
				Profile
			</ng-template>
			<div class="wrapper">

				<div class="left-wrapper">
					<h2>Profile details :</h2>
					<p *ngIf="user">First Name : {{ user.firstname }}</p>
					<p *ngIf="user">Name : {{ user.name }}</p>
					<p *ngIf="user">Adress email : {{ user.email }}</p>
				</div>

				<app-chat *ngIf="isMessage" class="messages">
				</app-chat>
			</div>

		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="example-tab-icon">settings</mat-icon>
				Preferences
			</ng-template>
			<div class="pref-wrapper" *ngIf="prefs">
				<mat-form-field color="accent">
					<mat-label>House Activity</mat-label>
					<mat-select [(value)]="prefs.activities" [multiple]="true">
						<mat-option *ngFor="let entry of HouseActivity | keyvalue" [value]="entry.value">{{
							entry.key }}</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field color="accent">
					<mat-label>Housing type</mat-label>
					<mat-select [(value)]="prefs.housingType">
						<mat-option *ngFor="let entry of HousingType | keyvalue" [value]="entry.value">{{
							entry.key }}</mat-option>
					</mat-select>
				</mat-form-field>


				<mat-form-field color="accent">
					<mat-label>Refused Animal</mat-label>
					<mat-select [(value)]="prefs.refusedAnimals" [multiple]="true">
						<mat-option *ngFor="let entry of Animal | keyvalue" [value]="entry.value">{{
							entry.key }}</mat-option>
					</mat-select>
				</mat-form-field>


				<mat-label>With children</mat-label>
				<mat-checkbox [(ngModel)]="prefs.allowedChildren"></mat-checkbox>


				<mat-label>With Pets</mat-label>
				<mat-checkbox [(ngModel)]="prefs.allowedPets"></mat-checkbox>


				<mat-label>Smoking allowed</mat-label>
				<mat-checkbox [(ngModel)]="prefs.allowedSmoking"></mat-checkbox>

				<mat-label>Wifi</mat-label>
				<mat-checkbox [(ngModel)]="prefs.wifi"></mat-checkbox>

				<button (click)="save()" class="done-btn" mat-fab color="primary">
					<mat-icon>done</mat-icon>
				</button>
			</div>
		</mat-tab>
	</mat-tab-group>

</mat-card>