<div class="card">
  <div class="headband">
      <div style="width: 90%;">
          <div style="width: 40%;">
              <div class="cardicon-left">
                  <mat-icon aria-hidden="false" fontIcon="pets" class="icon-left"></mat-icon>
                  <div>Pet sitting</div>
              </div>
              <div class="cardicon-left">
                  <mat-icon aria-hidden="false" fontIcon="local_florist" class="icon-left"></mat-icon>
                  <div>Plant sitting</div>    
              </div>
          
              <div class="cardicon-left">
                  <mat-icon aria-hidden="false" fontIcon="cleaning_services" class="icon-left"></mat-icon>
                  <div>Home sitting</div>
              </div>
      
          </div>
         
          <div class="cardicon-right">
              <mat-icon aria-hidden="false" fontIcon="bookmark_border"></mat-icon>
              <mat-icon aria-hidden="false" fontIcon="filter_list" (click)="changeDisplayFiltre()"></mat-icon>
  
          </div>
      </div>
      
  </div>
  
  <div class="filtre" *ngIf="displayFiltre">
    <form (ngSubmit)="submitForm()" #myForm="ngForm">
      <mat-form-field class="input-filtre">
        <mat-label>City:</mat-label>
        <input matInput type="text" id="city" name="city" [(ngModel)]="filter.city" required>
      </mat-form-field>
  
      <mat-form-field class="input-filtre">
        <mat-label>Postal Code:</mat-label>
        <input matInput type="number" id="postalcode" name="postalcode" [(ngModel)]="filter.postalcode" required>
      </mat-form-field>
  
      <mat-form-field class="input-filtre">
        <mat-label>Number of Beds:</mat-label>
        <input matInput type="number" id="numberOfBeds" name="numberOfBeds" [(ngModel)]="filter.numberOfBeds" required>
      </mat-form-field>
  
      <mat-form-field class="input-filtre">
        <mat-label>Square Meters:</mat-label>
        <input matInput type="number" id="squareMeters" name="squareMeters" [(ngModel)]="filter.squareMeters" required>
      </mat-form-field >
  
      <mat-form-field class="input-filtre">
        <mat-label>Start Date:</mat-label>
        <input matInput type="date" id="startDate" name="startDate" [(ngModel)]="filter.startDate" required>
      </mat-form-field>
  
      <mat-form-field class="input-filtre">
        <mat-label>Stop Date:</mat-label>
        <input matInput type="date" id="stopDate" name="stopDate" [(ngModel)]="filter.stopDate" required>
      </mat-form-field>
  
      <mat-form-field class="input-filtre">
        <mat-label>Max Number of People:</mat-label>
        <input matInput type="number" id="numberPeopleMax" name="numberPeopleMax" [(ngModel)]="filter.numberPeopleMax" required>
      </mat-form-field>
  
      <mat-form-field class="input-filtre">
        <mat-label>Number of Rooms:</mat-label>
        <input matInput type="number" id="numberOfRooms" name="numberOfRooms" [(ngModel)]="filter.numberOfRooms" required>
      </mat-form-field>
      <br>
  
      <button mat-raised-button color="primary" type="submit" >Submit</button>
    </form>
  </div>
  

  
  <div class="container">
  <button mat-icon-button (click)="decrementDisplayAnnounces()"[disabled]="this.buttonDecrementDisabled">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        
        <div *ngIf="displayAnnounces">
          <div class="annoucement-container">
            <div class="announcement-card" [routerLink]="'/offer/' + announcement.id"
              *ngFor="let announcement of displayAnnouncements">
              <img class="announcement-card-image " [src]="'https://material.angular.io/assets/img/examples/shiba2.jpg'" alt="Image de l'annonce">
              <span class="announcement-information-title">City: </span>{{ announcement.address }}<br />
              <span class="announcement-information-title">City: </span>{{ announcement.city }}<br />
              <span class="announcement-information-title">Beds: </span>{{ announcement.numberOfBeds }}<br />
              <span class="announcement-information-title">m<sup>2</sup>: </span>{{ announcement.squareMeters }}<br />
              <span class="announcement-information-title">Rooms: </span>{{ announcement.numberOfRooms }}<br />
              <span class="announcement-information-title">People: </span>{{ announcement.numberPeopleMax }}<br />
              <span class="announcement-information-title">Start Date: </span>{{ announcement.startDate | date:'dd/MM/yyyy' }}<br />
              <span class="announcement-information-title">Stop Date: </span>{{ announcement.stopDate | date:'dd/MM/yyyy' }}<br />
            </div>
          </div>
        </div>
        
        <button mat-icon-button (click)="incrementDisplayAnnounces()" [disabled]="this.buttonIncrementDisabled">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>    
  </div>
 
</div>
